# Find Spatial Locations
# Buffer a point, return all data within spatial geometry of buffer

In [1]:
# import libraries
import getpass
from arcgis.gis import *
from arcgis import geometry
from arcgis import features

In [2]:
# Utilize getpass for password management in Jupyter notebooks
password = getpass.getpass()

········

In [8]:
# Connect to GIS
# gis = GIS('http://www.arcgis.com', 'abrown_citygov', password)
gis = GIS('https://neenterprise.esri.com/portal', 'abrown', password)
gis

GIS @ https://neenterprise.esri.com/portal version:6.1

In [9]:
# Manually create a point
pt_coords = features.feature.Point({"x" : -75.127341, "y" : 39.981295, "spatialReference" : {"wkid" : 4326}})
pt = geometry.Point(pt_coords)
feat = features.Feature(geometry=pt, attributes={'OBJECTID': 1,
                                                        'name': 'Test_point',
                                                        'type': 'Feature'})

# Convert the feature into a feature set to utilize in geoprocessing tools
fset = features.FeatureSet([feat])
fset

<FeatureSet> 1 features

In [10]:
# Search for Philadelphia Redacted Crime, put query directly in search
crime_s = gis.content.search("title:PhillyCrime", item_type="Feature Service")
incidents_service = crime_s[0]
incident_layers = incidents_service.layers
incidents = incident_layers[0]

In [11]:
# Create a map object, add layers then visualize
map_1 = gis.map("2143 York Street, Philadelphia, PA 19125")
map_1.add_layer(incidents)
map_1.add_layer(fset)
map_1

MapView(layout=Layout(height='400px', width='100%'))

In [12]:
# Buffer the point
point_buff = features.use_proximity.create_buffers(fset.to_dict(), distances=[0.1], units = 'Miles')
map_1.add_layer(point_buff)

In [13]:
# Run summarize within tool to look at how many points fall within the boundary.
output = features.analysis.summarize_within(sum_within_layer=point_buff, summary_layer=incidents, sum_shape=True, 
                                   summary_fields=[], group_by_field='text_gener', minority_majority=False, 
                                   percent_shape=False, output_name=None, context=None, gis=None)

In [14]:
# The output of the summarize within did not specifify an output_name, the result is a dictionary.  Grab the dictionary keys
# to separate both the total numbers and grouped values.
print(output)
print(type(output))
# Return just FeatureCollection
final = output.get('result_layer')
related = output.get('group_by_summary')

{'result_layer': <FeatureCollection>, 'group_by_summary': <FeatureCollection>}
<class 'dict'>

In [19]:
# FeatureCollections are different than FeatureLayerCollections; unless one saves the layer using output_name
# a where clause cannot be utilized.
finallayers = final.query()
finallayers

<FeatureSet> 1 features

In [20]:
# Show query results in data table
finallayers.sdf

,AnalysisArea,BUFF_DIST,Join_ID,OBJECTID,ORIG_FID,Point_Count,SHAPE,name,type
0,0.081325,0.1,1,1,1,228,"{""rings"": [[[-75.12734031650234, 39.9827442170...",Test_point,Feature

In [21]:
# FeatureCollections are different than FeatureLayerCollections; unless one saves the layer using output_name
# a where clause cannot be utilized.
relatedlayers = related.query()
relatedlayers

<FeatureSet> 23 features

In [22]:
# Show query results in data table
relatedlayers.sdf

,Join_ID,OBJECTID,Point_Count,objectid_1,text_gener
0,1,1,2,1,Aggravated Assault Firearm
1,1,2,7,2,Aggravated Assault No Firearm
2,1,3,44,3,All Other Offenses
3,1,4,1,4,Arson
4,1,5,4,5,Burglary Non-Residential
5,1,6,17,6,Burglary Residential
6,1,7,5,7,Disorderly Conduct
7,1,8,10,8,DRIVING UNDER THE INFLUENCE
8,1,9,2,9,Forgery and Counterfeiting
9,1,10,13,10,Fraud
10,1,11,6,11,Motor Vehicle Theft
11,1,12,3,12,Narcotic / Drug Law Violations
12,1,13,22,13,Other Assaults
13,1,14,3,14,Other Sex Offenses (Not Commercialized)
14,1,15,1,15,Rape
15,1,16,14,16,Recovered Stolen Motor Vehicle
16,1,17,5,17,Robbery Firearm
17,1,18,4,18,Robbery No Firearm
18,1,19,20,19,Theft from Vehicle
19,1,20,19,20,Thefts
20,1,21,1,21,Vagrancy/Loitering
21,1,22,23,22,Vandalism/Criminal Mischief
22,1,23,2,23,Weapon Violations

In [23]:
# Create a second map object for clarity
map_2 = gis.map("2143 York Street, Philadelphia, PA 19125")
map_2.add_layer(finallayers)
map_2

MapView(layout=Layout(height='400px', width='100%'))